<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
  <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="TeleshoppingConsole.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <appSettings>
		<add key="usuarioBit" value="BitERPSuiteTSG1\\TeleShoppingFWS1"/>
		<add key="passwordBit" value="Tele5HopPing&amp;b1T+.-"/> <!--&amp; esto significa &-->
		<add key="keyCodeBit" value="INCONCERT_ARTICULOS"/>
		<add key="BDIP" value="10.150.85.2"/>
		<add key="BDShema" value="TeleshoppingDev4"/>
		<!-- <add key="BDShema" value="Teleshopping"/> -->
		<add key="BDUser" value="usrAccMw"/>
		<add key="BDUsrPass" value="inc2001"/>
		<add key="DirLogs" value="G:\yovercc\TeleshoppingConsole\Logs"/>
		<add key="PathJson" value="G:\yovercc\TeleshoppingConsole\Logs\DatosUtiles.json"/>
		<add key="Minutes" value= "90"  />
 </appSettings>
 <applicationSettings>
  <TeleshoppingConsole.Settings1>
   <setting name="TazaActual" serializeAs="String">
    <value />
   </setting>
  </TeleshoppingConsole.Settings1>
 </applicationSettings>
</configuration>